@import "../../style.scss";

.contact-us{
    height: 100vh;
     background-color: rgb(51, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        background: linear-gradient(
                rgba(39, 11, 96, 0.5),
                rgba(39, 11, 96, 0.5)
            ),
            url("https://images.pexels.com/photos/5364986/pexels-photo-5364986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
                center;
        background-size: cover;
        width: 70%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        flex-direction: row-reverse;

        @include mobile {
            width: 100%;
        }

        .contact-left {
            flex: 1;
            background: linear-gradient(
                rgba(61, 60, 63, 0.5),
                rgba(39, 11, 96, 0.5)
            );
            padding: 160px 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: lightgray;
            box-shadow: 0 0 10px rgba(1, 20, 0, 0.2);

             @include tablet {
                padding: 160px 20px;
                 gap: 20px;
            }
            @include mobile {
                padding: 184px 10px;
            }

            h1 {
                font-size: 60px;
                line-height: 40px;

                @include mobile {
                    font-size: 30px;
                    line-height: 30px;
                }
            }

            p {
                font-weight: 500;
                @include mobile {
                    font-weight: 400;
                    font-size: 12px;
                }
            }

            span {
                font-size: 14px;
            }

            button {
                width: 50%;
                padding: 6px 4px;
                border-radius: 4px;
                border: none;
                color: white;
                background-color: #938eef;
                font-weight: bold;
                cursor: pointer;
                @include mobile {
                   
                        padding: 4px 7px;
                    font-weight: 500;
                }
            }
        }

        .contact-right {
            flex: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            color: lightgray;
            @include mobile {
                padding: 5px;
                 gap: 10px;
            }
              @include tablet{
                padding: 20px;
                
            }

            h1 {
                font-size: 30px;
                @include mobile {
                    font-size: 25px;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                   @include mobile {
                       gap: 15px;
                    }

                input {
                    color: white;
                    font-weight: bold;
                    border: none;
                    background: linear-gradient(
                        rgba(43, 38, 54, 0.5),
                        rgba(39, 11, 96, 0.5)
                    );
                    border-bottom: 1px solid lightgray;
                       padding: 8px 4px;
                    border-radius: 5px;

                    @include mobile {
                        padding: 6px 5px;
                        font-size: 10px;
                    }
                }

                  textarea {
                    color: white;
                    font-weight: bold;
                    border: none;
                    height: 80px;
                    
                    background: linear-gradient(
                        rgba(43, 38, 54, 0.5),
                        rgba(39, 11, 96, 0.5)
                    );
                    border-bottom: 1px solid lightgray;
                       padding: 8px 4px;
                    border-radius: 5px;

                    @include mobile {
                        padding: 6px 5px;
                        font-size: 10px;
                           height: 40px;
                    }
                }

                button {
                   width: 50%;
                padding: 10px 4px;
                    border-radius: 4px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    @include mobile {
                        width: 50%;
                             padding: 5px 8px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
